---
---

@import "bootstrap/variables";

body {
  margin-top: 4.375em;
  position: relative;
}

mark {
  background-color: #FF0;
  border: 1px solid #333;
}

mark.current {
  background-color: #FF0;
  border: 1px dashed #333;
}

h1 {
  line-height: 1;
  small {
    font-size: 50%;
    line-height: 1;
    display:block;
  }
}

.panel-heading > h5 {
  margin:0;
  font-weight: bold;
  font-size: 1em;
}

.sc-wrapper {
  border-top: 1px solid $brand-primary;
  padding-top: 1em;
  padding-bottom: 1em;
  .panel:last-child {
    margin-bottom: 0;
  }
  .row + .row {
    margin-top: 1em;
  }
}

.panel-body section:first-child .sc-wrapper:first-child,
.panel-body [aria-expanded=false] + section .sc-wrapper:first-child {
  border-top: none;
  padding-top:0;
}

.sc-wrapper header {
  strong, [class^=level] {
    display: inline-block;
    background-color: #ddd;
    padding: 3px;
    border-radius:2px;
    font-weight: normal;
  }
  [class^=level] {
    color: #fff;
  }
  .level-a {
    background-color: lighten($brand-primary, 20%);
  }
  .level-aa {
    background-color: lighten($brand-primary, 10%);
  }
  .level-aaa {
    background-color: lighten($brand-primary, 0%);
  }
}

.sc-content {
  padding-top: .5em;
  a {
    border-bottom: 1px solid #666;
  }
}

#devnotes a{
  border-bottom: 1px solid #666;
}

.devnoteheading {
  font-size: 1.5em;
}

h5 {
  line-height: 1.5;
}

.nav-pills > li > a {
  border: 1px solid #ddd;
}

.navbar-scroll {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
      li {
        line-height: 2;
        border-left: 1em solid transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        a {
          padding-left: 1em;
          display: block;
        }
      }
    }
    ul ul {
      display:none;
    }
    ul .active ul {
      display:block;
    }
  }
  .active {
    border-color: #036;
    .active:last-child {
      border-bottom: none;
    }
  }
}

.navbar-scroll.affix {
  top: 60px;
  bottom: 10px;
  .tab-content {
    overflow: scroll;
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
    top:4em;
  }
}

.navbar-scroll .nav {
  margin-bottom: 1em;
}

.navbar-scroll.affix, .navbar-scroll.affix-bottom {
    width: 213px;
}

.panel-heading {
  h3 {
    margin-top: 0;
    font-weight: bold;
  }
  p {
    margin-bottom: 0;
    font-size: 1.25em;
  }
}

.label {
  display:inline-block;
}

#filtered:empty {
  display:none;
}

.sidebar-heading {
  background-color: #036;
  color: #fff;
  padding: 5px;
  font-weight: bold;
}

/*.sc-content {
  height: 10em;
  overflow: hidden;
  padding-bottom: 3em;
  position: relative;
  margin-bottom: 1em;
  &:after {
    display: block;
    content: "";
    background: linear-gradient(to bottom, rgba(#fff, 0), #fff 60%);
    height: 3em;
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
  }
  button {
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 43%;
  }
}*/
