---
---
body {
  margin-top: 4.375em;
  position: relative;
}

.sc-wrapper {
  border-top: 1px solid #BCE8F1;
  padding-top: 1em;
  padding-bottom: 1em;
  .panel:last-child {
    margin-bottom: 0;
  }
}

.sc-content {
  padding-top: .5em;
  a {
    border-bottom: 1px solid #666;
  }
}

#devnotes a{
  border-bottom: 1px solid #666;
}

.devnoteheading {
  font-size: 1.5em;
}

h5 {
  line-height: 1.5;
}

.nav-pills > li > a {
  border: 1px solid #ddd;
}

.navbar-scroll {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
      li {
        line-height: 2;
        border-left: 1em solid transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        a {
          padding-left: 1em;
          display: block;
        }
      }
    }
    ul ul {
      display:none;
    }
    ul .active ul {
      display:block;
    }
  }
  .active {
    border-color: #036;
    .active:last-child {
      border-bottom: none;
    }
  }
}

.navbar-scroll.affix {
  top: 60px;
  bottom: 10px;
  .tab-content {
    overflow: scroll;
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
    top:4em;
  }
}

.navbar-scroll.affix, .navbar-scroll.affix-bottom {
    width: 213px;
}

.panel-heading {
  h3 {
    margin-top: 0;
    font-weight: bold;
  }
  p {
    margin-bottom: 0;
    font-size: 1.25em;
  }
}

.label {
  display:inline-block;
}

#filtered:empty {
  display:none;
}

/*.sc-content {
  height: 10em;
  overflow: hidden;
  padding-bottom: 3em;
  position: relative;
  margin-bottom: 1em;
  &:after {
    display: block;
    content: "";
    background: linear-gradient(to bottom, rgba(#fff, 0), #fff 60%);
    height: 3em;
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
  }
  button {
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 43%;
  }
}*/
