---
---

@import "bootstrap/variables";

body {
  position: relative;
  padding-bottom: 2em;
}

mark {
  background-color: #FF0;
  border: 1px solid #333;
}

mark.current {
  background-color: #FF0;
  border: 1px dashed #333;
}

h1 {
  line-height: 1;
  small {
    font-size: 50%;
    line-height: 1;
    display:block;
  }
}

.panel-heading > h5 {
  margin:0;
  font-weight: bold;
  font-size: 1em;
}

.sc-wrapper {
  border-top: 1px solid $brand-primary;
  padding-top: 5px;
  padding-bottom: 5px;
  .panel:last-child {
    margin-bottom: 0;
  }
  .row + .row {
    margin-top: 1em;
  }
}

.panel-body section:first-child .sc-wrapper:first-child {
  border-top: none;
  padding-top:0;
}

.btn-gltechniques {
  margin-bottom: 5px;
}

.sc-wrapper header {
  strong, [class^=level] {
    display: inline-block;
    background-color: #ddd;
    padding: 3px;
    border-radius:2px;
    font-weight: normal;
  }
  [class^=level] {
    color: #fff;
  }
  .level-a {
    background-color: lighten($brand-primary, 20%);
  }
  .level-aa {
    background-color: lighten($brand-primary, 10%);
  }
  .level-aaa {
    background-color: lighten($brand-primary, 0%);
  }
  p {
    float: right;
  }
}

.sc-content {
  padding-top: .5em;
  a {
    border-bottom: 1px solid #666;
  }
}

#devnotes a{
  border-bottom: 1px solid #666;
}

.devnoteheading {
  font-size: 1.5em;
}

h5 {
  line-height: 1.5;
}

.nav-pills > li > a {
  border: 1px solid #ddd;
}

.navbar-scroll {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
      li {
        line-height: 2;
        border-left: 1em solid transparent;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        a {
          padding-left: 1em;
          display: block;
        }
      }
    }
    ul ul {
      display:none;
    }
    ul .active ul {
      display:block;
    }
  }
  .active {
    border-color: #036;
    .active:last-child {
      border-bottom: none;
    }
  }
}

.navbar-scroll.affix {
  top: 10px;
  bottom: 10px;
  .tab-content {
    overflow: scroll;
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
    top:4em;
  }
}

.navbar-scroll .nav {
  margin-bottom: 1em;
}

.navbar-scroll.affix, .navbar-scroll.affix-bottom {
    width: 213px;
}

.panel-heading {
  h3 {
    margin-top: 0;
    font-weight: bold;
  }
  p {
    margin-bottom: 0;
    font-size: 1.25em;
  }
}

.label {
  display:inline-block;
}

#filtered:empty {
  display:none;
}

.sidebar-heading {
  background-color: #036;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  position: relative;
  .btn {
    position: absolute;
    background: $brand-primary;
    padding: 5px;
    line-height: 1.1;
    top:0;
    left: 100%;
  }
  &#filter_heading .btn {
    right: 100%;
    left: auto;
  }
}

.checkbox {
  display:flex;
  justify-content: space-between;
}

[hidden] {
  display: none;
}

.mainrow {
  display:flex;
  aside {
    transition: all .1s linear;
    flex: 2;
    &.hidden-sb {
      flex:0;
      h6 {
        padding:0;
      }
    }
  }
  main {
    transition: all .1s linear;
    flex: 8;
    padding: 0 30px;
  }
}

.mainbacktotop {
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  display:block;
  background: linear-gradient(to bottom, rgba(#fff,.7), #fff);
  z-index: 2000;
  padding: 5px;
}

.filter-status {
  .panel-body {
    display: flex;
    justify-content: space-between;
    :first-child {
      flex: 6;
    }
  }
}

[aria-expanded] {
  .word-show { display: inline; }
  .word-hide { display: none; }
}

[aria-expanded=true] {
  .word-show { display: none; }
  .word-hide { display: inline; }
}

.btn-techniques {
  width:100%;
  text-align: left;
}

/*.sc-content {
  height: 10em;
  overflow: hidden;
  padding-bottom: 3em;
  position: relative;
  margin-bottom: 1em;
  &:after {
    display: block;
    content: "";
    background: linear-gradient(to bottom, rgba(#fff, 0), #fff 60%);
    height: 3em;
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
  }
  button {
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 43%;
  }
}*/
