---
layout: default
---
{% include header.html %}

<div class="mainrow">
  <div class="sidebar">
    <div class="fixedsticky" style="top:0;">
      <nav>
        <ul class="nav nav-tabs buttons" id="navtabs">
          <li role="presentation">
            <button id="hidesidebars" aria-expanded="true" type="button" class="btn btn-default btn-sm"><span><span class="word-show"><svg aria-hidden="true" class="i-chevron-right"><use xlink:href="{{ "/img/icons.svg" | prepend: site.baseurl }}#i-chevron-right"></use></svg> Show Sidebar</span><span class="word-hide"><svg aria-hidden="true" class="i-chevron-left"><use xlink:href="{{ "/img/icons.svg" | prepend: site.baseurl }}#i-chevron-left"></use></svg> Hide</span></span></button>
          </li>
          <li role="presentation" class="active">
            <a href="#col_overview" data-toggle="tab" data-toggle="tab" aria-controls="col_overview"><span><svg aria-hidden="true" class="i-menu"><use xlink:href="{{ "/img/icons.svg" | prepend: site.baseurl }}#i-menu"></use></svg> Contents</span></a>
          </li>
          <li role="presentation">
            <a href="#col_customize" data-toggle="tab" data-toggle="tab" aria-controls="col_customize"><span><svg aria-hidden="true" class="i-settings"><use xlink:href="{{ "/img/icons.svg" | prepend: site.baseurl }}#i-settings"></use></svg> Filter</span></a>
          </li>
        </ul>
      </nav>
      <div class="tab-content">
        <aside role="tabpanel" class="tab-pane active" id="col_overview">
          {% include sidenav.html tags="false" heading="false" %}
        </aside>
        <aside role="tabpanel" class="tab-pane tags" id="col_customize">
          <div class="sidebar-content">
            <div class="infobox">
              <svg aria-hidden="true" class="i-info"><use xlink:href="{{ "/img/icons.svg" | prepend: site.baseurl }}#i-info"></use></svg> Changes in this panel are reflected on the right:
            </div>
            {% include tags.html show="true" %}
            {% include filters.html %}
          </div>
        </aside>
      </div>
    </div>
  </div>
  <main>
    <div class="navrow fixedsticky" style="top:0;">
      <button id="showsidebars" aria-expanded="false" hidden type="button" class="btn btn-default btn-sm"><span><svg aria-hidden="true" class="i-chevron-righ"><use xlink:href="{{ "/img/icons.svg" | prepend: site.baseurl }}#i-chevron-righ"></use></svg> Show Sidebar</span></button>
      {% include filter-status.html %}
    </div>
    <div class="maininner">
      <span id="top"></span>
      {% assign p = 0 %}
      {% for principle in site.data.wcag2.principles %}
        {% assign p = p | plus: 1 %}
        {% assign g = 0 %}
        <div class="principle panel panel-default">
          <div class="panel-heading">
            <h2 id="principle{{ principle.num }}"><strong>Principle {{ p }}</strong> – {{principle.handle}}</h2>
          </div>
          <div class="panel-body panel-body-principle">
            <p>{{principle.title}}</p>
          </div>
        </div>
        <div class="guidelines">
          {% for guideline in principle.guidelines %}
            {% include guideline.html %}
          {% endfor %}
        </div>
      {% endfor %}
      <div id="hiddensc">

      </div>
      {% include footer.html %}
    </div>
  </main>
</div>