---
layout: default
---
{% include header.html %}

{% comment %}{{ site.data.wcag2.principles[0].id }}{% endcomment %}

<div class="mainrow threecols prototype-8">
  <div class="sidebar">
    <div class="fixedsticky" style="top:0;">
      <nav>
        <ul class="nav nav-tabs buttons">
          <li role="presentation">
            <button id="hidesidebars" aria-expanded="true" type="button" class="btn btn-default btn-sm"><span><span class="word-show"><span class="glyphicon glyphicon-chevron-right"></span> Show Sidebar</span><span class="word-hide"><span class="glyphicon glyphicon-chevron-left"></span> Hide</span></span></button>
          </li>
          <li role="presentation" class="active">
            <a href="#col_overview" data-toggle="tab" data-toggle="tab" aria-controls="col_overview"><span><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Contents</span></a>
          </li>
          <li role="presentation">
            <a href="#col_customize" data-toggle="tab" data-toggle="tab" aria-controls="col_customize"><span><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Filter</span></a>
          </li>
        </ul>
      </nav>
      <div class="tab-content">
        <aside role="tabpanel" class="tab-pane active" id="col_overview">
          {% include sidenav.html tags="false" heading="false" %}
        </aside>
        <aside role="tabpanel" class="tab-pane tags" id="col_customize">
          <div class="sidebar-content">
            {% include tags.html show="true" %}
            {% include filters.html %}
          </div>
        </aside>
      </div>
    </div>
  </div>
  <main>
    <div class="navrow fixedsticky prototype-8" style="top:0;">
      <button id="showsidebars" aria-expanded="false" hidden type="button" class="btn btn-default btn-sm"><span><span class="glyphicon glyphicon-chevron-right"></span> Show Sidebar</span></button>
      {% include filter-status.html %}
    </div>
    {% assign p = 0 %}
    {% for principle in site.data.wcag2.principles %}
      {% assign p = p | plus: 1 %}
      {% assign g = 0 %}
      <h2 id="principle{{ principle.num }}"><strong>{{ p }}.</strong> {{principle.handle}}</h2>
      <p>{{principle.title}}</p>
      {% for guideline in principle.guidelines %}
        {% include guideline.html %}
      {% endfor %}
    {% endfor %}
  </main>
</div>