<div class="filter-status fixedsticky" style="top:0; left:0; right:0;">
  <div class="icon">
    <div class="outer" aria-live="polite">
      <span hidden class="glyphicon glyphicon-hourglass"><span class="sr-only">Loading</span></span>
      <span class="glyphicon glyphicon-ok"><span class="sr-only">Loaded</span></span>
    </div>
  </div>
  <div>
    <div id="tagged"><strong>No tags applied.</strong></div>
    <div id="filtered"><strong>No filters set.</strong></div>
    <button id="clearall" class="btn btn-default">Clear all filters</button>
  </div>
</div>