<section id="filters" aria-label="Filter by Techniques or Level">
  {% assign filters = site.filters | order_by: 'sort' %}
  {% for filter in filters %}
    <div class="sbbox sbbox-default" id="{{filter.short | prepend: 'filter-' | slugify}}">
      <div class="sbbox-heading"> <span>{{ filter.title }}</span> <button class="btn btn-info btn-sm filters" disabled><svg aria-hidden="true" class="i-check"><use xlink:href="{{ "img/icons.svg" | relative_url }}#i-check"></use></svg> Select all</button></div>
      <div id="{{filter.title | prepend: 'filter-' | append: '-content' | slugify}}" class="sbbox-body">
      <p><small>{{filter.output}}</small></p>
      {% for f in filter.filters %}
        <div class="checkbox">
          <label>
            <input type="{{filter.type}}" name="{{ 'filter ' | append: filter.short | slugify }}" value="{{ f.short }}" checked> {{f.title}}
          </label>
          {% unless f.noonly %}
            <button class="btn btn-default btn-xs btn-only" title="Show only {{f.title | strip_html}}" aria-label="Show only {{f.title | strip_html}}" data-value="{{ f.short }}">only</button>
          {% endunless %}
        </div>
      {% endfor %}
      </div>
    </div>
  {% endfor %}
</section>