<footer role="contentinfo" aria-labelledby="wai_footerheading">
   <hr>
   <h2 id="wai_footerheading" class="sr-only">Document Information</h2>
   <p><strong>Status:</strong>{%if site.status == "draft" %}<strong> Draft.</strong>{% endif %} Updated {{ site.time | date:"%d %b %Y" }}. Version {{site.version}}.<br />
      Previous editors and developers:
      <a href="https://www.w3.org/People/shadi/">Shadi Abou-Zahra</a> (Project Lead),
      <a href="https://www.w3.org/People/yatil/">Eric Eggert</a>,
      Gregg Vanderheiden, Loretta Guarino Reid, Ben Caldwell, <a href="https://www.w3.org/People/Shawn/">Shawn Lawton Henry</a>, Gez Lemon.<br>
      The 2016 redesign was developed by the Education and Outreach Working Group (<a href="https://www.w3.org/WAI/EO/">EOWG</a>) and the Web Content Accessibility Guidelines Working Group (<a href="https://www.w3.org/WAI/GL/">WCAG WG</a>),  with support from the <a href="https://www.w3.org/WAI/DEV/">WAI-DEV project</a>, a project of the European Commission IST Programme.</p>

   <nav aria-label="Footer Navigation" class="footer-nav">
      <ul>
         <li><a href="https://www.w3.org/WAI/sitemap.html">WAI Site Map</a></li>
         <li><a href="https://www.w3.org/WAI/sitehelp.html">Help with WAI Website</a></li>
         <li><a href="https://www.w3.org/WAI/search.php">Search</a></li>
         <li><a href="/WAI/contacts">Contacting WAI</a></li>
      </ul>
   </nav>
   <section class="feedback" aria-label="Feedback">
      <p><strong>Feedback welcome to <a href="mailto:wai-eo-editors@w3.org?subject=QuickRef_Redesign">wai-eo-editors@w3.org</a></strong> (a publicly archived list) or <a href="mailto:wai@w3.org">wai@w3.org</a> (a WAI staff-only list).</p>
   </section>
   <!-- end footer-nav -->
   <section class="copyright" aria-label="Copyright Notice">
      <p>
         Copyright &#xA9; {{ site.time | date:"%Y" }} <a href="https://w3.org">W3C</a> <sup>&#xAE;</sup>.
         See <a href="https://www.w3.org/WAI/about/using-wai-material/">Permission to Use WAI Material</a>.
      </p>
   </section>
   <!-- end copyright -->
   <!-- Piwik -->
      <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDomains", ["*.www.w3.org/WAI"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
      var u="//www.w3.org/analytics/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 328]);
      var d=document, g=d.createElement('script'),
      s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js';
      s.parentNode.insertBefore(g,s);
      })();
      </script>
      <noscript><p><img src="//www.w3.org/analytics/piwik/piwik.php?idsite=328"
      style="border:0;" alt="" /></p></noscript>
      <!-- End Piwik Code -->
</footer>