<footer role="contentinfo" aria-labelledby="wai_footerheading">
   <hr>
   <h2 id="wai_footerheading" class="sr-only">Document Information</h2>
   <p><strong>Status:</strong><strong> Draft.</strong> Updated {{ site.time | date:"%d %b %Y" }}<br />
      Developer: <a href="http://www.w3.org/People/yatil/">Eric Eggert</a>. Previous editors and developers: Gregg Vanderheiden, Loretta Guarino Reid, Ben Caldwell, <a href="http://www.w3.org/People/Shawn/">Shawn Lawton Henry</a>, Gez Lemon. The 2015 redesign is being developed by the Education and Outreach Working Group (<a href="http://www.w3.org/WAI/EO/">EOWG</a>) and the Web Content Accessibility Guidelines Working Group (<a href="http://www.w3.org/WAI/GL/">WCAG WG</a>),  with support from the <a href="http://www.w3.org/WAI/DEV/">WAI-DEV project</a>, a project of the European Commission IST Programme.</p>
   <div class="footer-nav">
      <p>[<a href="http://www.w3.org/WAI/sitemap.html">WAI Site Map</a>] [<a href="http://www.w3.org/WAI/sitehelp.html">Help with WAI Website</a>] [<a href="http://www.w3.org/WAI/search.php">Search</a>] [<a href="/WAI/contacts">Contacting WAI</a>]<br />
         <strong>Feedback welcome to <a href="mailto:wai-eo-editors@w3.org?subject=QuickRef_Redesign">wai-eo-editors@w3.org</a></strong> (a publicly archived list) or <a href="mailto:wai@w3.org">wai@w3.org</a> (a WAI staff-only list).</p>
   </div>
   <!-- end footer-nav -->
   <div class="copyright">
      <p>Copyright &#xA9; 2015 W3C <sup>&#xAE;</sup> (<a href="http://www.csail.mit.edu/"><abbr title="Massachusetts Institute of Technology">MIT</abbr></a>, <a href="http://www.ercim.eu/"><abbr title="European Research Consortium for Informatics and Mathematics">ERCIM</abbr></a>, <a href="http://www.keio.ac.jp/">Keio</a>, <a href="http://ev.buaa.edu.cn/">Beihang</a>) <a href="/Consortium/Legal/ipr-notice">Usage policies apply</a>.</p>
   </div>
   <!-- end copyright -->
</footer>