{% assign g = g | plus: 1 %}
{% assign s = 0 %}
{% if guideline.principle == principle %}
	<div class="guideline panel panel-primary">
		<div class="panel-heading">
			<h3 id="{{guideline.short}}">{{ p }}.{{ g }} {{guideline.title}}</h3>
			{{guideline.output}}
		</div>
		{% if guideline.techniques %}
			<div class="panel-body panel-body-guideline">
				<button data-target="#techniques-{{ p }}{{ g }}" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="techniques-{{ p }}{{ g }}" class="btn btn-primary btn-techniques btn-gltechniques"><span class="word-show"><span class="glyphicon glyphicon-chevron-right"></span> Show</span><span class="word-hide"><span class="glyphicon glyphicon-chevron-down"></span> Hide</span> techniques for Guideline {{ p }}.{{ g }}</button>
				<div id="techniques-{{ p }}{{ g }}" class="guideline-techniques collapse" aria-expanded="false">
					{% if guideline.techniques.sufficient %}
						<h4>Sufficient Techniques</h4>
						<ul>
						{% for technique in guideline.techniques.sufficient %}
							<li class="{% include techniqueclass.html %}">
		            {% include techniquelink.html %}
		          </li>
						{% endfor %}
						</ul>
					{% endif %}
					{% if guideline.techniques.advisory %}
						<h4>Advisory Techniques</h4>
						<ul>
						{% for technique in guideline.techniques.advisory %}
							<li class="{% include techniqueclass.html %}">
		            {% include techniquelink.html %}
		          </li>
						{% endfor %}
						</ul>
					{% endif %}
					{% if guideline.techniques.failures %}
						<h4>Failure Techniques</h4>
						<ul>
						{% for technique in guideline.techniques.failures %}
							<li class="{% include techniqueclass.html %}">
		            {% include techniquelink.html %}
		          </li>
						{% endfor %}
						</ul>
					{% endif %}
				</div>
			</div>
			{% endif%}
			{% if guideline.successcriteria %}
				{% if guideline.successcriteria.levelA %}
					{% include level.html level="A" items=guideline.successcriteria.levelA %}
				{% endif %}
				{% if guideline.successcriteria.levelAA %}
					{% include level.html level="AA" items=guideline.successcriteria.levelAA %}
				{% endif %}
				{% if guideline.successcriteria.levelAAA %}
					{% include level.html level="AAA" items=guideline.successcriteria.levelAAA %}
				{% endif %}
			{% endif%}
	</div>
{% endif%}
