{% assign s = 0 %}
{% assign g_id = guideline.id | replace:'WCAG2:','' %}
{% assign g_number = guideline.num | replace:'.', '' %}
<section class="guideline panel panel-primary panel-borderless" aria-roledescription="guideline" aria-labelledby="{{g_id}}">
	<div class="panel-heading">
		<h3 id="{{g_id}}" data-alt-id="{% for aid in guideline.alt_id %}{{aid}} {% endfor %}">Guideline <strong>{{ guideline.num }}</strong> – {{guideline.handle}}</h3>
		{{guideline.title}}
	</div>
		{% if guideline.successcriteria %}
			{% for currentsc in guideline.successcriteria %}
				{% include sc.html sc=currentsc %}
			{% endfor %}
		{% endif %}
</section>