{% include status.html %}

<header role="banner" class="mainhead">
  <div class="w3c-wai-header">
      <a href="http://w3.org/"><img src="{{ "img/w3c.png" | prepend: site.baseurl }}" alt="W3C" width="90"></a>
      <a href="http://w3.org/WAI/" class="wai"><img src="{{ "img/wai.png" | prepend: site.baseurl }}" alt="Web Accessibility Initiative"></a>
    </div>
    <div class="page-title">
      <h1 class="mainheading">{%if site.status == "draft" %}[Draft] {% endif %}How to Meet <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2 (Quick Reference)</h1>
			<span class="subheading">A customizable quick reference to Web Content Accessibility Guidelines (WCAG) 2.0 requirements (success criteria) and techniques.
				<button data-target="#pageinfo" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="pageinfo" class="btn btn-info btn-techniques">
					<span class="word-show">
						<svg aria-hidden="true" class="i-chevron-right"><use xlink:href="{{ "img/icons.svg" | prepend: site.baseurl }}#i-chevron-right"></use></svg>
						Show
					</span>
					<span class="word-hide">
						<svg aria-hidden="true" class="i-chevron-down"><use xlink:href="{{ "img/icons.svg" | prepend: site.baseurl }}#i-chevron-down"></use></svg>
						Hide
					</span>
					About, How to Use &amp; Preferences
				</button>
			</span>
    </div>
	  <div id="pageinfo" hidden>
	  {% for help in site.help %}
	    <div class="pibox">
	      <div class="pibox-heading">{{help.title}}</div>
	      <div class="pibox-body">
	        {{help.content}}
	      </div>
	    </div>
	  {% endfor %}

	  </div>
</header>
