{% assign s = s | plus: 1 %}
{% assign sc = include.sc %}
{% assign sc_id = sc.id | replace:'WCAG2:','' %}
{% assign keywordscontent = site.data.tags-content[sc_id] %}
{% assign keywordsdeveloping = site.data.tags-developing[sc_id] %}
{% assign keywordsinteraction = site.data.tags-interaction[sc_id] %}
{% assign keywordsvisual = site.data.tags-visual[sc_id] %}
<article class="sc-wrapper current filter-levels-{{sc.level | downcase}}" data-tags-content="{{keywordscontent}}" data-tags-developing="{{keywordsdeveloping}}" data-tags-interaction="{{keywordsinteraction}}" data-tags-visual="{{keywordsvisual}}">
  <header>
    <h4 id="{{sc_id}}"><strong>{{ p }}.{{ g }}.{{ s }}</strong> <span>{{sc.handle}}</span></h4>
    <p class="h4"><span class="level-{{sc.level | downcase}}">Level {{sc.level}}</span></p>
  </header>
  <div class="sc-content">
    <div class="sc-text">
	    <p>{{ sc.title }}</p>
      {% for detail in sc.details %}
        {% if detail.type == 'note' %}
          <aside class="note">
            <p><em>{{ detail.handle }}:</em> {{ detail.text }}</p>
          </aside>
        {% endif%}
        {% if detail.type == 'ulist' %}
          <hr>
          <ul>{% for li in detail.items %}<li><p><strong>{{li.handle}}:</strong> {{li.text}}{% endfor %}</p></ul>
        {% endif%}
        {% if detail.type == 'olist' %}
          <hr>
          <ol>{% for li in detail.items %}<li><p><strong>{{li.handle}}:</strong> {{li.text}}{% endfor %}</p></ol>
        {% endif%}
      {% endfor%}
    </div>
    <div class="understanding">
      <a href="http://www.w3.org/TR/UNDERSTANDING-WCAG20/{{sc_id}}.html" class="btn btn-default btn-sm"><svg aria-hidden="true" class="i-info"><use xlink:href="{{ "/img/icons.svg" | prepend: site.baseurl }}#i-info"></use></svg> Understanding {{ p }}.{{ g }}.{{ s }}</a>
    </div>
  </div>
    {% for sctech in sc.techniques %}
      {% if sctech.sufficient %}
        {% assign stech = sctech.sufficient %}
        {% assign ssize = stech | size %}
      {% endif %}
      {% if sctech.advisory %}
        {% assign atech = sctech.advisory %}
        {% assign asize = atech | size %}
      {% endif %}
      {% if sctech.failure %}
        {% assign ftech = sctech.failure %}
        {% assign fsize = ftech | size %}
      {% endif %}
    {% endfor %}
    {% assign completesize = ssize | plus: asize | plus: fsize %}
    {% if completesize >= 1 %}
    <div class="techniques-button btn-group" role="group">
      <button data-target="#techniques-{{ p }}{{ g }}{{ s }}" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="techniques-{{ p }}{{ g }}{{ s }}" class="btn btn-info btn-techniques"><span class="word-show"><svg aria-hidden="true" class="i-chevron-right"><use xlink:href="{{ "/img/icons.svg" | prepend: site.baseurl }}#i-chevron-right"></use></svg> Show</span><span class="word-hide"><svg aria-hidden="true" class="i-chevron-down"><use xlink:href="{{ "/img/icons.svg" | prepend: site.baseurl }}#i-chevron-down"></use></svg> Hide</span> techniques and failures for {{ p }}.{{ g }}.{{ s }}</button>
      <label class="btn btn-default {% unless ssize > 0 %}disabled{% endunless %}"><input type="checkbox" name="sc-{{ p }}{{ g }}{{ s }}-sufficient" {% if ssize > 0 %}checked{% else %}disabled{% endif %}><span> Sufficient</span></label>
      <label class="btn btn-default {% unless asize > 0 %}disabled{% endunless %}"><input type="checkbox" name="sc-{{ p }}{{ g }}{{ s }}-advisory" {% if asize > 0 %}checked{% else %}disabled{% endif %}><span> Advisory</span></label>
      <label class="btn btn-default {% unless fsize > 0 %}disabled{% endunless %}"><input type="checkbox" name="sc-{{ p }}{{ g }}{{ s }}-failures" {% if fsize > 0 %}checked{% else %}disabled{% endif %}><span> Failures</span></label>
    </div>
  <div class="collapse" id="techniques-{{ p }}{{ g }}{{ s }}">
    <div>
      <div class="tab-wrap">
        <div class="tab-content">
          {% if ssize >= 1 %}
            <div role="tabpanel" class="tbox tbox-sufficient tab-pane active" id="sc-{{ p }}{{ g }}{{ s }}-sufficient">
              {% include techlist.html techtitle="Sufficient Techniques" techniques=stech ttype="sufficient" %}
            </div>
          {% endif %}
          {% if asize >= 1 %}
            <div role="tabpanel" class="tbox tbox-advisory tab-pane active" id="sc-{{ p }}{{ g }}{{ s }}-advisory">
              {% include techlist.html techtitle="Advisory Techniques" techniques=atech ttype="advisory" %}
            </div>
          {% endif %}
          {% if fsize >= 1 %}
            <div role="tabpanel" class="tbox tbox-failures tab-pane active" id="sc-{{ p }}{{ g }}{{ s }}-failures">
              {% include techlist.html techtitle="Failures" techniques=ftech ttype="failure" %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif%}
  <footer>
    <a href="#top" class="toplink"><svg class="i-arrow-up" aria-hidden="true"><use xlink:href="{{ "/img/icons.svg" | prepend: site.baseurl }}#i-arrow-up"></use></svg> Back to top</a>
  </footer>
</article>