<div class="form-group" role="search">
  <div class="input-group">
    <label class="sr-only" for="exampleSearch">Search:</label>
    <div class="input-group-addon"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></div>
    <input class="form-control" id="exampleSearch" type="text">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-success" id="searchbtnsubmit">Search</button>
    </span>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" aria-label="Previous search result" title="Previous search result" id="searchbtnprev" disabled><i class="glyphicon glyphicon-chevron-left"></i></button>
    <output disabled id="searchnumber" aria-live="polite" class="btn btn-default" aria-label="No results">0/0</output>
    <button type="button" class="btn btn-default" aria-label="Next search result" title="Next search result" id="searchbtnnext" disabled><i class="glyphicon glyphicon-chevron-right"></i></button>
  </div>
  <button type="button" class="btn btn-default" id="searchbtnfocusresult" style="display:none;" aria-label="Focus current result" title="Focus current result"><span class="glyphicon glyphicon-arrow-down"></span></button>
</div>