<div class="form-group">
  <div class="input-group">
    <label class="sr-only" for="exampleSearch">Search:</label>
    <div class="input-group-addon"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></div>
    <input class="form-control" id="exampleSearch" type="text">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-success">Search</button>
    </span>
  </div>
</div>
 <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" aria-label="Previous search result" id="searchbtnprev"><i class="glyphicon glyphicon-chevron-left"></i></button>
    <output id="searchnumber" aria-live="polite" class="btn btn-default">0/0</output>
    <button type="button" class="btn btn-default" aria-label="Next search result" id="searchbtnnext"><i class="glyphicon glyphicon-chevron-right"></i></button>
  </div>