<div class="navbar-scroll">
<!--<div>
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
    <li role="presentation"><a href="#filters" aria-controls="filters" role="tab" data-toggle="tab">Filters</a></li>
    <li role="presentation"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab">Tags</a></li>
  </ul>

  <div class="tab-content">
  --><div id="overview" class="overview" aria-labelledby="overview_heading">
    <h6 id="overview_heading" class="sidebar-heading"><button class="btn btn-primary btn-lg hide-sb"><span class="glyphicon glyphicon-chevron-left" aria-label="Hide overview sidebar"></span> <span class="glyphicon glyphicon-chevron-right" hidden aria-label="Show overview sidebar"></span> <span class="text">Over<span hidden>-<br></span>view</span></button></h6>
  <div class="sidebar-content">
  <nav class="nav-overview" aria-label="Principles, Guidelines and Success Criteria">
  <ul class="nav">
    {% assign p = 0 %}
    {% for principle in site.data.principles %}
      {% assign p = p | plus: 1 %}
      {% assign g = 0 %}
      <li>
        <a href="#principle{{ p }}"><strong><span>{{ p }}.</span></strong> <span>{{principle}}</span></a>
        <ul>
          {% for guideline in site.guidelines %}
            {% assign g = g | plus: 1 %}
            {% assign s = 0 %}
            {% if guideline.principle == principle %}
              <li>
                <a href="#{{ guideline.short }}"><strong><span>{{ p }}.{{ g }}</span></strong> <span>{{ guideline.title }}</span></a>
                  {% if guideline.successcriteria %}
                  <ul>
                    {% if guideline.successcriteria.levelA %}
                        {% for criterion in guideline.successcriteria.levelA %}
                        {% assign s = s | plus: 1 %}
                          {% assign currentscs = site.successcriteria | where: "short", criterion %}
                            {% for currentsc in currentscs %}
                            <li class="filter-levels-a">
                              <a href="#{{currentsc.short}}"><strong><span>{{ p }}.{{ g }}.{{ s }}</span></strong> <span>{{currentsc.title}}</span></a>
                            </li>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% if guideline.successcriteria.levelAA %}
                      {% for criterion in guideline.successcriteria.levelAA %}
                        {% assign s = s | plus: 1 %}
                          {% assign currentscs = site.successcriteria | where: "short", criterion %}
                            {% for currentsc in currentscs %}
                            <li class="filter-levels-aa">
                              <a href="#{{currentsc.short}}"><strong>{{ p }}.{{ g }}.{{ s }}</strong> <span>{{currentsc.title}}</span></a>
                            </li>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                    {% if guideline.successcriteria.levelAAA %}
                      {% for criterion in guideline.successcriteria.levelAAA %}
                        {% assign s = s | plus: 1 %}
                          {% assign currentscs = site.successcriteria | where: "short", criterion %}
                            {% for currentsc in currentscs %}
                            <li class="filter-levels-aaa">
                              <a href="#{{currentsc.short}}"><strong>{{ p }}.{{ g }}.{{ s }}</strong> <span>{{currentsc.title}}</span></a>
                            </li>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                  </ul>
                  {% endif%}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
{% endfor %}
  </ul>
  </nav>
  </div>
  </div><!--
  </div>
  <div id="filters" role="tabpanel" class="tab-pane">
    {% include filters2.html %}
  </div>
  <div id="tags" role="tabpanel" class="tab-pane">
    {% include tags.html %}
  </div>
  </div>
</div>
-->
</div>