<div class="navbar-scroll">
  <div id="overview" class="overview spy-active">
    <div class="sidebar-content">
      <nav class="nav-overview" aria-label="Principles, Guidelines and Success Criteria">
        <ul class="nav">
        {% assign p = 0 %}
        {% for principle in site.data.wcag22.principles %}
          {% assign p = p | plus: 1 %}
          {% assign g = 0 %}
          <li>
            <a href="#principle{{ p }}" class="principle"><strong><span>{{ p }}.</span></strong> <span>{{principle.handle}}</span></a>
            <ul>
              {% for guideline in principle.guidelines %}
                {% assign g = g | plus: 1 %}
                {% assign s = 0 %}
                {% assign g_id = guideline.id | replace:'WCAG2:','' %}
                  <li>
                    <a href="#{{ g_id }}"><strong><span>{{ p }}.{{ g }}</span></strong> <span>{{ guideline.handle }}</span></a>
                    <ul>
                      {% for sc in guideline.successcriteria %}
                        {% assign s = s | plus: 1 %}
                        {% assign sc_id = sc.id | replace:'WCAG2:','' %}
                        <li data-versions="{% for v in sc.versions %}{{v}} {% endfor %}">
                          <a href="#{{sc_id}}"><strong><span>{{ p }}.{{ g }}.{{ s }}</span></strong> <span>{{sc.handle}}</span></a>
                        </li>
                      {% endfor %}
                      </ul>
                  </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>