{% comment %}
{%if site.status == "draft" %}
<h1 class="sr-only">Status of this mockup</h1>
<div class="panel panel-danger panel-status" role="alert">
 <div class="panel-heading"> <strong>Status: This is an in-progress draft of a redesign.</strong> The published version of the How to Meet WCAG quick reference is at: <a href="https://www.w3.org/WAI/WCAG22/quickref/">www.w3.org/WAI/WCAG22/quickref/</a> &nbsp;&nbsp;&nbsp; <a href="#devnotes" data-toggle="collapse" data-expanded="false" aria-controls="devnotes" class="btn btn-default btn-sm"><span class="word-show"><svg aria-hidden="true" class="i-chevron-right"><use xlink:href="{{ "img/icons.svg" | relative_url }}#i-chevron-right"></use></svg> More</span><span class="word-hide"><svg aria-hidden="true" class="i-chevron-down"><use xlink:href="{{ "img/icons.svg" | relative_url }}#i-chevron-down"></use></svg> Less</span></a></div>
 <div class="panel-body" hidden id="devnotes">
    <ul>
       <li>If you are interested in the goals, audience, tasks, functionality, etc. behind this redesign, see the <a href="https://www.w3.org/WAI/GL/wiki/Resource_Redesign/Quickref/Analysis">QuickRef Redesign Analysis.</a></li>
       <li>If you have general input now, you can submit an issue via <a href="https://github.com/w3c/wai-wcag-quickref/issues">Github</a> or send e-mail to the publicly-archived list <a href="mailto:wai-eo-editors@w3.org?subject=QuickRef_Redesign">wai-eo-editors@w3.org</a> with subject “QuickRef Redesign”.</li>
    </ul>
 </div>
</div>
{% endif %}
{% endcomment %}