<strong>(Note: Those don’t work yet.)</strong><br>
{% for sc in site.successcriteria %}
  {% for tag in sc.tags %}
    {% assign taglist = taglist | append: '||' | append: tag %}
    {% assign tagcount.tag = tagcount.tag | plus:1 %}
  {% endfor %}
{% endfor %}


{% assign splittaglist = taglist | split: '||' | sort %}

{% assign currenttag = "" %}
{% assign tagcount = 0 %}
{% assign firsttag = true %}
{% for tag in splittaglist %}
  {% assign tagcount = tagcount | plus: 1 %}
  {% if currenttag == tag %}
  {% else %}
    {% assign currenttag = tag %}
    {% unless firsttag %}{{tagcount}}</a>{% endunless %} <a href="#{{tag}}" class="btn btn-default btn-sm">{{tag}}
    {% assign tagcount = 0 %}
    {% assign firsttag = false %}
  {% endif %}
{% endfor %}

{{tagcount}}