<div class="sbbox sbbox-default">
<div class="sbbox-heading"><span>Tags</span> <button class="btn btn-info btn-sm" id="deselecttags" disabled><svg aria-hidden="true" class="i-close"><use xlink:href="{{ "/img/icons.svg" | prepend: site.baseurl }}#i-close"></use></svg> Clear tags</button></div>
<div {% unless include.show %}hidden{% endunless %} class="sbbox-body {% if include.show %}collapsed in{% endif %}"  id="tags">
{% for tg in site.data.tags-sc %}
  {% assign tgs = tg[1] | split: " "%}
  {% for tag in tgs %}
    {% assign taglist = taglist | append: '||' | append: tag %}
    {% assign tagcount.tag = tagcount.tag | plus:1 %}
  {% endfor %}
{% endfor %}


{% assign splittaglist = taglist | split: '||' | sort %}

{% assign currenttag = "" %}
{% assign tagcount = 0 %}
{% assign firsttag = true %}
{% for tag in splittaglist %}
  {% assign tagcount = tagcount | plus: 1 %}
  {% unless currenttag == tag %}
    {% assign currenttag = tag %}
    {% comment %}{% unless firsttag %}{{tagcount}}</a>{% endunless %}{% endcomment %} <button data-tag="{{tag}}" class="btn btn-default btn-sm">{{tag}}</button>
    {% assign tagcount = 0 %}
    {% assign firsttag = false %}
  {% endunless %}
  {% comment %}{%if forloop.last %}{{tagcount}}</a>{%endif%}{% endcomment %}
{% endfor %}
</div>
</div>