{% if technique.short %}
  {% assign currenttechnique = site.data.techniques | where: "short", technique.short | first %}
  {{ technique.prepend }} <a href="{{technique.short | append: '.html' | prepend: site.techniqueurl}}">{{technique.short}}: {{currenttechnique.title}}</a> {{ technique.append }}
{% elsif technique.future %}
  <em>{{technique.future}}</em> (future link){% if technique.append %} <br> {{ technique.append }}{% endif %}
{% elsif technique.text %}
  {{technique.text}}
  {% if technique.techniques %}
    <ul>
      {% for t in technique.techniques %}
        <li class="{% include techniqueclass.html tech=t %}">
          {% if t.text %}
            {{t.text}}
          {% else %}
          {% assign currenttechnique = site.data.techniques | where: "short", t | first %}
          <a href="{{t | append: '.html' | prepend: site.techniqueurl}}">{{t}}: {{currenttechnique.title}}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% elsif technique.combined %}
  {% for t in technique.combined %}
    {% if t.techniques %}
      {% assign hastechniques = true %}
    {% endif %}
  {% endfor %}
  {% for t in technique.combined %}
    {% if t.short %}
      {% assign currenttechnique = site.data.techniques | where: "short", t.short | first %}
      {{ t.prepend }} <a href="{{t.short | append: '.html' | prepend: site.techniqueurl}}">{{t.short}}: {{currenttechnique.title}}</a> {{ t.append }}
      {% if forloop.rindex0 > 0 and !(forloop.rindex0 > 1 and hastechniques) %}
        <strong>AND</strong>
      {% endif%}
    {% elsif t.text %}
      {{t.text}}
      {% if forloop.rindex0 > 0 and !(forloop.rindex0 > 1 and hastechniques) %}
        <strong>AND</strong>
      {% endif%}
    {% elsif t.techniques %}
      <ul>
        {% for t in t.techniques %}
          <li class="{% include techniqueclass.html tech=t %}">
            {% if t.text %}
              {{t.text}}
            {% else %}
            {% assign currenttechnique = site.data.techniques | where: "short", t | first %}
            <a href="{{t | append: '.html' | prepend: site.techniqueurl}}">{{t}}: {{currenttechnique.title}}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {% assign currenttechnique = site.data.techniques | where: "short", t | first %}
      <span class="{% include techniqueclass.html tech=t %}">
      <a href="{{t | append: '.html' | prepend: site.techniqueurl}}">{{t}}: {{currenttechnique.title}}</a>
      {% if forloop.rindex0 > 0 or !(forloop.rindex0 > 1 and hastechniques) %}
        <strong>AND</strong>
      {% endif%}
      </span>
    {% endif%}
  {% endfor %}
{% elsif technique.sub %}
  {% if technique.sub.text %}
    {{ technique.sub.text }}
  {% else %}
    {% assign currenttechnique = site.data.techniques | where: "short", technique.sub | first %}
    <a href="{{technique.sub | append: '.html' | prepend: site.techniqueurl}}">{{technique.sub}}: {{currenttechnique.title}}</a> {{ technique.append }}
  {% endif %}
  <ul>
    {% for t in technique.techniques %}
      <li class="{% include techniqueclass.html tech=t %}">
        {% if t.text %}
          {{t.text}}
          {% if t.techniques %}
            <ul>
            {% for te in t.techniques %}
            <li class="{% include techniqueclass.html tech=te %}">
              {% if te.text %}
                {{te.text}}
              {% else %}
              {% assign currenttechnique = site.data.techniques | where: "short", te | first %}
              <a href="{{te | append: '.html' | prepend: site.techniqueurl}}">{{te}}: {{currenttechnique.title}}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        {% else %}
          {% assign currenttechnique = site.data.techniques | where: "short", t | first %}
          <a href="{{t | append: '.html' | prepend: site.techniqueurl}}">{{t}}: {{currenttechnique.title}}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  {% assign currenttechnique = site.data.techniques | where: "short", technique | first %}
  <a href="{{technique | append: '.html' | prepend: site.techniqueurl}}">{{technique}}: {{currenttechnique.title}}</a>
{% endif %}
