{%- comment -%}
Expected inputs:
- techniques = Array of technique objects or shorthand strings
{%- endcomment -%}

<ul>
{% for technique in include.techniques %}
  <li>
    {%- if technique.and -%}
      {%- for andEntry in technique.and %}
        {% unless forloop.first %} <strong>AND</strong> {% endunless %}
        {% include techentry.html technique=andEntry %}
      {%- endfor -%}
    {%- else -%}
      {% include techentry.html technique=technique %}
    {%- endif -%}
    {%- if technique.using %}
      {% include techlist.html techniques=technique.using %}
    {% endif -%}
  </li>
{% endfor %}
</ul>
