{% if include.tech %}
  {% assign shortname = include.tech | replace:'1','' | replace:'2','' | replace:'3','' | replace:'4','' | replace:'5','' | replace:'6','' | replace:'7','' | replace:'8','' | replace:'9','' | replace:'0','' | trim %}
{% else %}
  {% if technique.short %}
    {% assign shortname = technique.short | replace:'1','' | replace:'2','' | replace:'3','' | replace:'4','' | replace:'5','' | replace:'6','' | replace:'7','' | replace:'8','' | replace:'9','' | replace:'0','' | trim %}
  {% elsif technique.future %}
    {% assign shortname = technique.technology %}
  {% elsif technique.text %}
  {% elsif technique.combined %}
    {% for t in technique.combined %}
      {% if t.short %}
        {% assign shortname = t.short | replace:'1','' | replace:'2','' | replace:'3','' | replace:'4','' | replace:'5','' | replace:'6','' | replace:'7','' | replace:'8','' | replace:'9','' | replace:'0','' | trim %}
      {% else %}
        {% assign shortname = t | replace:'1','' | replace:'2','' | replace:'3','' | replace:'4','' | replace:'5','' | replace:'6','' | replace:'7','' | replace:'8','' | replace:'9','' | replace:'0','' | trim %}
      {% endif%}
    {% endfor %}
  {% else %}
    {% assign shortname = technique | replace:'1','' | replace:'2','' | replace:'3','' | replace:'4','' | replace:'5','' | replace:'6','' | replace:'7','' | replace:'8','' | replace:'9','' | replace:'0','' | trim %}
  {% endif %}
{% endif %}
{% case shortname %}
{% when "H" %}
html
{% when "SM" %}
smil
{% when "CSS" %}
css
{% when "G" %}
general
{% else %}
{{ shortname | downcase }}
{% endcase %}