<div class="panel panel-default">
  <div class="panel-heading">
    <h5 id="{{include.techheadid}}">
      {{include.techtitle}}
    </h5>
  </div>
  {% if include.ttype == 'sufficient' %}
    <div class="panel-body">
      <p>Note: Other techniques may also be sufficient if they meet the success criterion. See <a href="https://www.w3.org/TR/2014/NOTE-UNDERSTANDING-WCAG20-20140916/understanding-techniques.html#understanding-techniques" class="abouttech">Understanding Techniques.</a></p>
    </div>
  {% endif %}
  <div class="panel-body">
    {% unless include.techniques[0].situations %}
      <ul>
    {% endunless %}
    {% for tech in include.techniques %}
      {% if tech.situations %}
        {% for situation in tech.situations %}
          <div class="panel panel-default">
            <div class="panel-heading"><h6>{{situation.title}}</h6></div>
            <div class="panel-body">
              {% assign sit = situation.techniques %}
                {% for techn in sit %}
                  {% if techn.and %}
                    {% if forloop.first %}<ul>{% endif %}
                      <li>
                        {% for technique in techn.and %}
                          <span class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %} {{technique.append}} {% unless forloop.last %}<strong>AND</strong>{% endunless %}</span>
                        {% endfor %}
                        {% for note in techn.and.notes %}
                          {% if forloop.first %}<ul class="notes">{% endif %}
                            <li>
                              <em>Note{% if forloop.length > 1 %} {{forloop.index}}{% endif %}:</em> {{ note }}
                            </li>
                          {% if forloop.last %}</ul>{% endif %}
                        {% endfor %}
                      </li>
                    {% if forloop.last %}</ul>{% endif %}
                  {% else %}
                    {% if techn.or %}
                      {% if forloop.first %}<ul>{% endif %}
                        <li>
                          {% for technique in techn.or %}
                            <span class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %} {% unless forloop.last %}<strong>OR</strong>{% endunless %}</span>
                          {% endfor %}
                          {% for note in techn.or.notes %}
                            {% if forloop.first %}<ul class="notes">{% endif %}
                              <li>
                                <em>Note{% if forloop.length > 1 %} {{forloop.index}}{% endif %}:</em> {{ note }}
                              </li>
                            {% if forloop.last %}</ul>{% endif %}
                          {% endfor %}
                        </li>
                      {% if forloop.last %}</ul>{% endif %}
                    {% else %}
                      {% if techn.group %}
                        {% assign group = techn.group %}
                           <p>{{group.title}}</p>
                            <ul>
                            {% for technique in group.techniques %}
                              <li class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %}
                              {% for note in technique.notes %}
                                {% if forloop.first %}<ul class="notes">{% endif %}
                                  <li>
                                    <em>Note{% if forloop.length > 1 %} {{forloop.index}}{% endif %}:</em> {{ note }}
                                  </li>
                                {% if forloop.last %}</ul>{% endif %}
                              {% endfor %}
                              </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                          {% if forloop.first %}
                            <ul>
                          {% endif %}
                          <li class="{% include techniqueclass.html technique=techn %}">
                            {% include techniquelink.html technique=techn %}
                            {% for note in techn.notes %}
                              {% if forloop.first %}<ul class="notes">{% endif %}
                                <li>
                                  <em>Note{% if forloop.length > 1 %} {{forloop.index}}{% endif %}:</em> {{ note }}
                                </li>
                              {% if forloop.last %}</ul>{% endif %}
                            {% endfor %}
                          </li>
                          {% if forloop.last %}
                            </ul>
                          {% endif%}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <li class="{% include techniqueclass.html technique=tech %}">
          {% include techniquelink.html technique=tech %}
          {% for note in tech.notes %}
            {% if forloop.first %}<ul class="notes">{% endif %}
              <li>
                <em>Note{% if forloop.length > 1 %} {{forloop.index}}{% endif %}:</em> {{ note }}
              </li>
            {% if forloop.last %}</ul>{% endif %}
          {% endfor %}
        </li>
      {% endif%}
    {% endfor %}
    {% unless include.techniques[0].situations %}
      </ul>
    {% endunless %}
    {% for note in include.notes %}
      {% if forloop.first %}<ul class="notes">{% endif %}
        <li>
          <em>Note{% if forloop.length > 1 %} {{forloop.index}}{% endif %}:</em> {{ note }}
        </li>
      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  </div>
</div>