{% assign shortname = include.technique.id | replace:'TECH:','' | replace:'1','' | replace:'2','' | replace:'3','' | replace:'4','' | replace:'5','' | replace:'6','' | replace:'7','' | replace:'8','' | replace:'9','' | replace:'0','' | trim %}

{% assign techid = include.technique.id | replace:'TECH:','' %}

{% if include.technique.and %}
  {% for technique in include.technique.and %}
    <span class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %} {{technique.append}} {% if forloop.last %}{% else %}<strong>AND</strong>{% endif %}</span>
  {% endfor %}
{% else %}
  {% if include.technique.or %}
    {% for technique in include.technique.or %}
      <span class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %} {{technique.append}} {% if forloop.last %}{% else %}<strong>OR</strong>{% endif %}</span>
    {% endfor %}
  {% else %}
    {% if shortname == 'future' %}
      {{include.technique.text}}
    {% else %}
      {% assign currenttechnique = site.data.techniques | where: "short", techid | first %}

      {{ include.technique.prepend }} <a href="{{techid | append: '.html' | prepend: site.techniqueurl}}">{{ techid }}: {{currenttechnique.title}} </a> {{ include.technique.append }}
    {% endif %}
    {% if include.technique.using %}
      <i>using one of the following techniques:</i>
      <ul>
      {% for technique in include.technique.using %}
        <li class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endif %}
{% endif %}



  {% comment %}
{% if technique.short %}
  {% assign currenttechnique = site.data.techniques | where: "short", technique.short | first %}
  {{ technique.prepend }} <a target="_blank" href="{{technique.short | append: '.html' | prepend: site.techniqueurl}}">{{technique.short}}: {{currenttechnique.title}} <span class="glyphicon glyphicon-new-window" aria-label="Opens new window/tab"></span></a> {{ technique.append }}
{% elsif technique.future %}
  <span class="future">{{technique.future}}</span> (future link){% if technique.append %} <br> {{ technique.append }}{% endif %}
  {% if technique.techniques %}
    <ul>
      {% for t in technique.techniques %}
        <li class="{% include techniqueclass.html tech=t %}">
          {% if t.text %}
            {{t.text}}
          {% else %}
          {% assign currenttechnique = site.data.techniques | where: "short", t | first %}
          <a target="_blank" href="{{t | append: '.html' | prepend: site.techniqueurl}}">{{t}}: {{currenttechnique.title}} <span class="glyphicon glyphicon-new-window" aria-label="Opens new window/tab"></span></a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% elsif technique.text %}
  {{technique.text}}
  {% if technique.techniques %}
    <ul>
      {% for t in technique.techniques %}
        <li class="{% include techniqueclass.html tech=t %}">
          {% if t.text %}
            {{t.text}}
          {% else %}
          {% assign currenttechnique = site.data.techniques | where: "short", t | first %}
          <a target="_blank" href="{{t | append: '.html' | prepend: site.techniqueurl}}">{{t}}: {{currenttechnique.title}} <span class="glyphicon glyphicon-new-window" aria-label="Opens new window/tab"></span></a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% elsif technique.combined %}
  {% for t in technique.combined %}
    {% if t.techniques %}
      {% assign hastechniques = true %}
    {% endif %}
  {% endfor %}
  {% for t in technique.combined %}
    {% if t.short %}
      {% assign currenttechnique = site.data.techniques | where: "short", t.short | first %}
      {{ t.prepend }} <a target="_blank" href="{{t.short | append: '.html' | prepend: site.techniqueurl}}">{{t.short}}: {{currenttechnique.title}} <span class="glyphicon glyphicon-new-window" aria-label="Opens new window/tab"></span></a> {{ t.append }}
      {% if forloop.rindex0 > 0 and !(forloop.rindex0 > 1 and hastechniques) %}
        <strong>AND</strong>
      {% endif%}
    {% elsif t.text %}
      {{t.text}}
      {% if forloop.rindex0 > 0 and !(forloop.rindex0 > 1 and hastechniques) %}
        <strong>AND</strong>
      {% endif%}
    {% elsif t.techniques %}
      <ul>
        {% for t in t.techniques %}
          <li class="{% include techniqueclass.html tech=t %}">
            {% if t.text %}
              {{t.text}}
            {% else %}
            {% assign currenttechnique = site.data.techniques | where: "short", t | first %}
            <a target="_blank" href="{{t | append: '.html' | prepend: site.techniqueurl}}">{{t}}: {{currenttechnique.title}} <span class="glyphicon glyphicon-new-window" aria-label="Opens new window/tab"></span></a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {% assign currenttechnique = site.data.techniques | where: "short", t | first %}
      <span class="{% include techniqueclass.html tech=t %}">
      <a target="_blank" href="{{t | append: '.html' | prepend: site.techniqueurl}}">{{t}}: {{currenttechnique.title}} <span class="glyphicon glyphicon-new-window" aria-label="Opens new window/tab"></span></a>
      {% if forloop.rindex0 > 0 or !(forloop.rindex0 > 1 and hastechniques) %}
        <strong>AND</strong>
      {% endif%}
      </span>
    {% endif%}
  {% endfor %}
{% elsif technique.sub %}
  {% if technique.sub.text %}
    {{ technique.sub.text }}
  {% else %}
    {% assign currenttechnique = site.data.techniques | where: "short", technique.sub | first %}
    <a target="_blank" href="{{technique.sub | append: '.html' | prepend: site.techniqueurl}}">{{technique.sub}}: {{currenttechnique.title}} <span class="glyphicon glyphicon-new-window" aria-label="Opens new window/tab"></span></a> {{ technique.append }}
  {% endif %}
  <ul>
    {% for t in technique.techniques %}
      <li class="{% include techniqueclass.html tech=t %}">
        {% if t.text %}
          {{t.text}}
          {% if t.techniques %}
            <ul>
            {% for te in t.techniques %}
            <li class="{% include techniqueclass.html tech=te %}">
              {% if te.text %}
                {{te.text}}
              {% else %}
              {% assign currenttechnique = site.data.techniques | where: "short", te | first %}
              <a target="_blank" href="{{te | append: '.html' | prepend: site.techniqueurl}}">{{te}}: {{currenttechnique.title}} <span class="glyphicon glyphicon-new-window" aria-label="Opens new window/tab"></span></a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        {% else %}
          {% assign currenttechnique = site.data.techniques | where: "short", t | first %}
          <a target="_blank" href="{{t | append: '.html' | prepend: site.techniqueurl}}">{{t}}: {{currenttechnique.title}} <span class="glyphicon glyphicon-new-window" aria-label="Opens new window/tab"></span></a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  {% assign currenttechnique = site.data.techniques | where: "short", technique | first %}
  <a target="_blank" href="{{technique | append: '.html' | prepend: site.techniqueurl}}">{{technique}}: {{currenttechnique.title}} <span class="glyphicon glyphicon-new-window" aria-label="Opens new window/tab"></span></a>
{% endif %}
{% endcomment %}