{% assign shortname = include.technique.id | replace:'TECH:','' | replace:'1','' | replace:'2','' | replace:'3','' | replace:'4','' | replace:'5','' | replace:'6','' | replace:'7','' | replace:'8','' | replace:'9','' | replace:'0','' | trim %}

{% case shortname %}
  {% when 'ARIA' %}
    {% assign techslug = "aria"%}
  {% when 'SCR' %}
    {% assign techslug = "client-side-script"%}
  {% when 'C' %}
    {% assign techslug = "css"%}
  {% when 'F' %}
    {% assign techslug = "failures"%}
  {% when 'FLASH' %}
    {% assign techslug = "flash"%}
  {% when 'G' %}
    {% assign techslug = "general"%}
  {% when 'H' %}
    {% assign techslug = "html"%}
  {% when 'PDF' %}
    {% assign techslug = "pdf"%}
  {% when 'SVR' %}
    {% assign techslug = "server-side-script"%}
  {% when 'SL' %}
    {% assign techslug = "silverlight"%}
  {% when 'SM' %}
    {% assign techslug = "smil"%}
  {% when 'T' %}
    {% assign techslug = "text"%}
  {% else %}
    {% comment %}Non of the known shortnames? I use the shortname as a slug.{% endcomment%}
    {% assign techslug = shortname%}
{% endcase %}

{% assign techid = include.technique.id | replace:'TECH:','' %}

{% if include.technique.and %}
  {% for technique in include.technique.and %}
    <span class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %} {{technique.append}} {% if forloop.last %}{% else %}<strong>AND</strong>{% endif %}</span>
  {% endfor %}
  {% if include.technique.using %}
    using one of the following techniques:
    <ul>
      {% for techn in include.technique.using %}
        <li class="{% include techniqueclass.html technique=techn %}">{% include techniquelink.html technique=techn %}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% for note in include.technique.notes %}
    {% if forloop.first %}<ul class="notes">{% endif %}
      <li>
        <em>Note{% if forloop.length > 1 %} {{forloop.index}}{% endif %}:</em> {{ note }}
      </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
{% else %}
  {% if include.technique.or %}
    {% for technique in include.technique.or %}
      <span class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %} {{technique.append}} {% if forloop.last %}{% else %}<strong>OR</strong>{% endif %}</span>
    {% endfor %}
    {% if include.technique.using %}
      using one of the following techniques:
      <ul>
        {% for techniq in include.technique.using %}
          <li class="{% include techniqueclass.html technique=techniq %}">{% include techniquelink.html technique=techniq %}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% for note in include.technique.notes %}
      {% if forloop.first %}<ul class="notes">{% endif %}
        <li>
          <em>Note{% if forloop.length > 1 %} {{forloop.index}}{% endif %}:</em> {{ note }}
        </li>
      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  {% else %}
    {% if shortname == 'future' %}
      {{include.technique.title}} (future link) {{include.technique.append}}
    {% else %}
      {% if shortname == 'text' %}
        {{include.technique.title}}
        {% for note in include.technique.notes %}
          {% if forloop.first %}<ul class="notes">{% endif %}
            <li>
              <em>Note{% if forloop.length > 1 %} {{forloop.index}}{% endif %}:</em> {{ note }}
            </li>
          {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
      {% else %}
        {{ include.technique.prepend }} <a href="{{techid | append: '.html' | prepend: "/" | prepend: techslug | prepend: site.techniqueurl}}">{{ techid }}: {{include.technique.title}} </a> {{ include.technique.append }}
        {% for note in technique.notes %}
          {% if forloop.first %}<ul class="notes">{% endif %}
            <li>
              <em>Note{% if forloop.length > 1 %} {{forloop.index}}{% endif %}:</em> {{ note }}
            </li>
          {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
    {% if include.technique.using %}
      {% comment %}<i>using one of the following techniques:</i>{% endcomment %}
      {% for gr in include.technique.using %}
        {% if gr.group %}
          <p role="heading" aria-level="7">{{gr.group.title}}</p>
          <ul>
          {% for technik in gr.group.techniques %}
            <li class="{% include techniqueclass.html technique=technik %}">{% include techniquelink.html technique=technik %}</li>
          {% endfor %}
          </ul>
        {% else %}
          {% if forloop.first %}<ul>{% endif %}
          <li class="{% include techniqueclass.html technique=gr %}">{% include techniquelink.html technique=gr %}
          {% for note in technique.notes %}
            {% if forloop.first %}<ul class="notes">{% endif %}
              <li>
                <em>Note{% if forloop.length > 1 %} {{forloop.index}}{% endif %}:</em> {{ note }}
              </li>
            {% if forloop.last %}</ul>{% endif %}
          {% endfor %}
          </li>
          {% if forloop.last %}</ul>{% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endif %}