<div class="panel panel-default">
  <div class="panel-heading">
    <h5>
      {{include.techtitle}}
    </h5>
  </div>
  {% if include.ttype == 'sufficient' %}
    <div class="panel-body">
      <p>Note: Other techniques may also be sufficient if they meet the success criterion. See <a href="http://www.w3.org/TR/2014/NOTE-UNDERSTANDING-WCAG20-20140916/understanding-techniques.html#understanding-techniques" class="abouttech">Understanding Techniques.</a></p>
    </div>
  {% endif %}
  <div class="panel-body">
    <ul>
    {% for tech in include.techniques %}
      {% if tech.situations %}
        {% for situation in tech.situations %}
          <div class="panel panel-default">
            <div class="panel-heading"><h6>{{situation.title}}</h6></div>
            <div class="panel-body">
              {% assign sit = situation.techniques %}
                {% for techn in sit %}
                  {% if techn.and %}
                    <p>
                      {% for technique in techn.and %}
                        <span class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %} {{technique.append}} {% if forloop.last %}{% else %}<strong>AND</strong>{% endif %}</span>
                      {% endfor %}
                    </p>
                  {% else %}
                    {% if techn.or %}
                      <ol>
                        {% for technique in techn.or %}
                          <li class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %} {% if forloop.rindex0 > 0 %}<strong>OR</strong>{% endif %}</li>
                        {% endfor %}
                      </ol>
                    {% else %}
                      {% if techn.group %}
                        {% assign group = techn.group %}
                           <p>{{group.title}}</p>
                            <ul>
                            {% for technique in group.techniques %}
                              <li class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                        <ul>
                          <li class="{% include techniqueclass.html technique=techn %}">
                            {% include techniquelink.html technique=techn %}
                          </li>
                        </ul>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        <li class="{% include techniqueclass.html technique=tech %}">
          {% include techniquelink.html technique=tech %}
        </li>
      {% endif%}
    {% endfor %}
    </ul>
    {% comment %}
    {% if include.techniques.techniques %}
      <ol>
        {% for technique in include.techniques.techniques %}
          <li class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %}</li>
        {% endfor %}
      </ol>
    {% endif %}
    {% if include.techniques[0].situations %}
      {% for situation in include.techniques[0].situations %}
        <div class="panel panel-default">
          <div class="panel-heading"><h6>{{situation.text}}</h6></div>
          <div class="panel-body">
            {% if (situation.techniques) %}
              {% if sit.and %}
                <p>
                  {% for technique in sit.and %}
                    <span class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %} {{technique.append}} {% if forloop.last %}{% else %}<strong>AND</strong>{% endif %}</span>
                  {% endfor %}
                </p>
              {% else %}
                {% if sit.or %}
                  <ol>
                    {% for technique in sit.or %}
                      <li class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %} {% if forloop.rindex0 > 0 %}<strong>OR</strong>{% endif %}</li>
                    {% endfor %}
                  </ol>
                {% else %}
                  <ul>
                    {% for technique in situation.techniques %}
                      <li class="{% include techniqueclass.html technique=technique %}">
                        {% include techniquelink.html technique=technique %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
            {% endif %}
            {% if situation.sections %}
              {% for section in situation.sections %}
                <p>{{section.text}}</p>
                <ul>
                {% for technique in section.techniques %}
                  <li class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %}</li>
                {% endfor %}
                </ul>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
    {% if include.techniques.sections %}
      {% for section in include.techniques.sections %}
        <p>{{section.text}}</p>
        <ul>
        {% for technique in section.techniques %}
          <li class="{% include techniqueclass.html  technique=technique %}">{% include techniquelink.html technique=technique %}</li>
        {% endfor %}
        </ul>
      {% endfor %}
    {% endif %}
    {% unless include.techniques.situations or include.techniques.techniques or include.techniques.sections %}
      <ul>
        {% for technique in include.techniques %}
          <li class="{% include techniqueclass.html technique=technique %}">{% include techniquelink.html technique=technique %}</li>
        {% endfor %}
      </ul>
    {% endunless %}
    {% endcomment %}
  </div>
</div>