{% if include.technique %}
  {% assign shortname = include.technique.id | replace:'TECH:','' | replace:'1','' | replace:'2','' | replace:'3','' | replace:'4','' | replace:'5','' | replace:'6','' | replace:'7','' | replace:'8','' | replace:'9','' | replace:'0','' | trim %}
{% else %}
  {% if technique.short %}
    {% assign shortname = include.technique.id | replace:'TECH:','' | replace:'1','' | replace:'2','' | replace:'3','' | replace:'4','' | replace:'5','' | replace:'6','' | replace:'7','' | replace:'8','' | replace:'9','' | replace:'0','' | trim %}
  {% elsif technique.future %}
    {% assign shortname = technique.technology %}
  {% elsif technique.text %}
    {% assign shortname ="text" %}
  {% elsif technique.sub %}
    {% assign shortname ="sub" %}
  {% elsif technique.combined %}
    {% assign shortname ="combined" %}
  {% else %}
    {% assign shortname = include.technique.id | replace:'TECH:','' | replace:'1','' | replace:'2','' | replace:'3','' | replace:'4','' | replace:'5','' | replace:'6','' | replace:'7','' | replace:'8','' | replace:'9','' | replace:'0','' | trim %}
  {% endif %}
{% endif %}
{% case shortname %}
{% when "H" %}
{% assign shortname = 'html' %}
{% when "SM" %}
{% assign shortname = 'smil' %}
{% when "CSS" %}
{% assign shortname = 'css' %}
{% when "G" %}
{% assign shortname = 'general' %}
{% when "ARIA" %}
{% assign shortname = 'wai-aria' %}
{% endcase %}
{{ shortname | downcase | prepend: "filter-tech-" | slugify }}
