<div class="row">
  <div class="col-md-12">
    <h2>Topics</h2>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-warning">
      <div class="panel-heading">Web Components</div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam itaque, totam at veritatis, iste harum dolore. Read all about <a href="#">Web Components</a>!</div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-warning">
      <div class="panel-heading">Images Tutorial</div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam itaque, totam at veritatis, iste harum dolore. We published a new <a href="#">tutorial about images</a></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-warning">
      <div class="panel-heading">WCAG Techniques updated</div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam itaque, totam at veritatis, iste harum dolore. See the <a href="#">new techniques</a></div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="panel panel-warning">
      <div class="panel-heading">Longdesc is a Proposed Recommendation</div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint ipsam itaque, totam at veritatis, iste harum dolore. See which <a href="#">techniques use longdesc</a></div>
    </div>
  </div>
</div>