<div class="sbbox sbbox-default">
  <label for="wcagver" style="font-weight: bold;">WCAG Version</label>
  <select name="version" id="wcagver" style="width: 100%;" aria-describedby="verhint">
  	<optgroup label="Versions">
      <option value="2.2">WCAG 2.2</option>
      <option value="2.1">WCAG 2.1</option>
      <option value="2.0">WCAG 2.0</option>
    </optgroup>
    <optgroup label="Only added SCs">
      <option value="2.2only">Only 2.2 Added Success Criteria</option>
      <option value="2.1only">Only 2.1 Added Success Criteria</option>
    </optgroup>
  </select>
  <p id="verhint" style="font-size: .75rem">Note: Clear Filters will not change the selected version.</p>
</div>