.permalink {
  display:inline;
  position: relative;
  // font-size: .7em;
  // float:right;
  margin: 0 .5em 0 0;
  padding: 0 .5em 0 0;
  border-right: 1px solid #666;
  > a {
    // color: #666 !important;
    // border:1px solid #F5F5F5;
    // padding: .5em;
    // &:hover {
    //   // border:1px solid;
    // }
    // display: inline-block;
    // vertical-align: middle;
    // margin-left: .5em;
    // font-weight: bold;
    white-space: nowrap;
    svg {
      vertical-align: middle;
      display: inline-block;
    }
  }
  .sharebox {
    display:none;
    &.open {
      display:block;
    }
    text-align:left;
    position: absolute;
    z-index: 999;
    top:120%;
    right: 0;
    background: #ddd;
    border: 1px solid #777;
    padding: .5em;
    min-width: 20em;
    max-width: 100%;
    box-shadow: 0 0 10px #222;
    input {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
    label span {
      display: block;
      text-align: right;
    }
    button {
      @extend .btn-small !optional;
      position:absolute;
      bottom:0;
      right:0;
    }
    p {
      float:none;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

#icon-share {
  fill: currentColor;
}