@import "vollkorn";
@import "bootstrap";
@import "helper";
@import "sharebox";

.fixedsticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off {
  position: static;
}
.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
  position: fixed;
}
.fixedsticky-dummy {
  display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
  display: block;
}

[disabled] + span{
  color:#777;
}

body {
  position: relative;
  padding-bottom: 2em;
}

mark {
  background-color: #FF0;
  border: 1px solid #333;
}

mark.current {
  background-color: #FF0;
  border: 1px dashed #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
  font-feature-settings: "lnum", "tnum";
  strong:first-child {
  font-weight: inherit;
  }
}

h1 {
  line-height: 1;
  small {
    font-size: 50%;
    line-height: 1;
    display:block;
  }
}

header[role=banner] {
  font-size: (18/14) * 1em;
  margin-bottom: 1em;
  border-top: 5px solid #930;
  div {
    margin: 0 auto;
    @include mq(30em) {
      float: right;
    }
  }
  img {
    display:inline-block;
    vertical-align: middle;
  }
  a {
      text-decoration: none;
      display: inline-block;
      &:hover, &:focus {text-decoration: underline;}
  }
}

.subheading {
  display: block;
  font-family: $font-family-sans-serif;
  font-size: 0.55em;
  margin: 0.25em;
}

.page-title {
  font-size: 1.75em;
  font-family: $font-family-serif;
  margin-bottom: 1em;
  line-height: 1;
  padding: .25em 0 0;
  float:none !important;
  .subheading {
    padding: .25em 0 0;
    display:block;
    font-size: .5em;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.panel-status {
  margin-bottom: 0;
}

.sc-wrapper {
  border-top: 1px solid $brand-primary;
  padding: 20px 0 5px;
  clear: both;
  .panel .panel:last-child {
    margin-bottom: 0;
  }
  header {
    margin-bottom: 10px;
  }
  footer {
    text-align: right;
    font-size: (12/14) * 1em;
    a {
      color: #777;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.guideline {
  box-shadow: none;
  margin-bottom: 0;
}

.guideline section:first-of-type .sc-wrapper:first-child {
  border-top: none;
}

.panel-body-guideline {
  background-color: $brand-primary;
}

.btn-gltechniques {
  margin-bottom: 5px;
  border-color: #fff;
}

.sc-wrapper {
  header {
    display: flex;
    //justify-content: space-between;
    white-space: nowrap;
    h4, .h4 {
      display:flex;
      align-items: stretch;
      margin: 0;
    }
    h4 {
      span {
        padding: 3px;
        background-color: #f3f3f3;
        &:before, &:after {
          content: " ";
        }
      }
    }
    strong, [class^=level] {
      display: inline-block;
      background-color: #ddd;
      padding: 3px;
      font-weight: normal;
    }
    strong {
      border-radius: 3px 0 0 3px;
      min-width: 3em;
      text-align: right;
    }
    [class^=level] {
      font-family: $font-family-serif;
      font-style: italic;
      margin-left: 5px;
      background-color: inherit;
      color: #656565;
      &::before {
        content:'— ';
      }
      &::after {
        // content:')';
      }
    }
    // .level-a {
    //   color: lighten($brand-primary, 6%);
    // }
    // .level-aa {
    //   color: lighten($brand-primary, 3%);
    // }
    // .level-aaa {
    //   color: lighten($brand-primary, 0%);
    // }
    p {
      float: right;
    }
    .permalink {
      order:3;
      align-self: flex-end;
      flex-grow: 99;
      text-align: right;
    }
  }
}

.sc-content {
  display:flex;
  justify-content: space-between;
  .sc-text {
    flex:1;
  }
  .sc-text a {
    border:none;
    text-decoration: none;
    color:inherit;
    pointer-events:none;
  }
  .understanding {
    padding-left: 15px;
  }
}

.sc-content, .techniques-button, .techniques-button + div {
  padding-left: 63px;
}

.panel-body-guideline .techniques-button {
  &, + div {
    padding-left: 0;
  }
}

.techniques-button {
  display: flex;
  .btn {
    text-align: left;
  }
  [aria-expanded="false"] ~ label {
    display: none;
  }
}

.tbox {
  margin-top: 1em;
}

.tagged {
  .sc-wrapper:not(.current) {
    padding: 5px;
    border: none;
    .sc-content, .btn-techniques, .permalink, footer {
      display:none;
    }
    header {
      opacity: .5;
      margin-bottom: 0;
      h4, .h4 {
        font-size: 1em;
        margin: 0;
      }
    }
  }
}

#devnotes a{
  border-bottom: 1px solid #666;
}

.devnoteheading {

}

.nav-pills > li > a {
  border: 1px solid #ddd;
}

.navbar-scroll {
  overflow: scroll;
  height: 90vh;
  .prototype-8 & {
    height: auto;
    flex: 999;
  }
  .hidden-sb & {
    overflow: visible;
    height: auto;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
      color: #fff;
      li {
        line-height: 2;
        //border-left: 1em solid transparent;
        // border-top: 1px solid transparent;
        // border-bottom: 1px solid transparent;
        a {
          //padding-left: 1em;
          //display: block;
        }
      }
    }
    ul ul {
      display:none;
    }
    ul .active ul {
      display:block;
    }
  }
}

.nav-overview {
  a {
    color: #fff;
    line-height: 1.5;
    font-variant-numeric: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    display: table-row;
    > span, > strong {
      padding: 2px 4px;
      display:table-cell;
    }
    > strong {
      text-align: right;
    }
    &:hover, &:focus {
      text-decoration: underline !important;
      background-color: transparent !important;
    }
  }
  .active {
    background-color: rgba(#fff,.7);
    border: 1px solid $brand-primary;
    border-right: none;
    a {
      color: $brand-primary;
    }
    > a:only-child {
      font-weight: bold;
    }
    &:last-child {
      border-bottom: none;
    }
    ul {
      padding-left: 1em;
    }
  }
  .nav-pills > li.active > a {
    background-color: $brand-primary;
  }
}

.navbar-scroll .nav {
  margin-bottom: 1em;
}

.navbar-scroll.affix, .navbar-scroll.affix-bottom {

}

.panel-heading {
  h3 {
    margin-top: 0;
    font-weight: normal;
  }
  h5 {
    margin:0;
    font-weight: bold;
    font-size: 1.25em;
  }
  h6 {
    margin:0;
    font-weight: normal;
    font-size: 1em;
  }
  p {
    margin-bottom: 0;
  }
}

.panel-borderless {
  border: none;
}

.label {
  display:inline-block;
}

#filtered {
}

.sidebar-heading {
  color: #fff;
}

.overview, .tags {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
     .text {
      display:none;
      text-transform: uppercase;
      font-size: 0.7em;
      .hidden-sb & {
        display:block;
      }
    }
    button {
      .hidden-sb & {
        position: absolute;
        z-index: 9999;
      }
    }
  }
}

svg.icon {
  width:1em;
}

//   background-color: #036;
//   color: #fff;
//   padding: 5px;
//   font-weight: bold;
//   position: relative;
//   .btn {
//     position: absolute;
//     background: $brand-primary;
//     padding: 5px;
//     line-height: 1.1;
//     top:0;
//     left: 100%;
//   }
//   &#filter_heading .btn {
//     right: 100%;
//     left: auto;
//   }
// }

.checkbox {
  display:flex;
  justify-content: space-between;
}

[hidden] {
  display: none;
}
/*
@include mq(30em) {
  .mainrow {
    display:flex;
    flex-wrap: wrap;
    main {
      width: 100%;
      transition: all .1s linear;
    }
    aside {
      width: 50%;
      padding: 0 15px;
      transition: all .1s linear;
      background-color: $brand-primary;
      &.hidden-sb {
        padding:0;
        border: none;
        h6 {
          padding:0;
        }
      }
    }
  }
}
*/
@include mq(30em) {
  .mainrow {
    display:flex;
    &.threecols {
      flex-direction: row;
    }
    main, aside {
      padding: 0 15px;
      transition: all .1s linear;
    }
    main {
      order: 2;
      flex: 5;
    }
    &.prototype-5 {
      main {
        flex:7;
        padding-right:0;
        .realmain {
          padding-right: 15px;
        }
        aside {
          padding: 26.5px;
        }
      }
      aside {
        padding: 0 26.5px;
      }
      #col_customize .sidebar-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        > div {
          flex: 1
        }
        > section {
          flex: 2;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          .panel-default {
            flex:1;
          }
        }
      }
    }
    &.prototype-8 {
      main {
        flex:6 !important;
        padding-right: 15px;
      }
      >div {
        flex:2 !important;
        background-color: #eee;
        aside {
          background-color: transparent !important;
          padding: 15px;
          a {
            color: $brand-primary !important;
          }
        }
      }
    }
    &.col_overview, &.col_customize {
      main {
        flex: 7;
      }
    }
    &.col_overview.col_customize {
      main {
        flex: 9;
      }
    }
    aside {
      flex: 1;
      order: 1;
      background-color: $brand-primary;
      &.hidden-sb {
        flex:0;
        padding:0;
        h6 {
          padding:0;
        }
      }
      &.tags {
        order: 3;
        background-color: #333;
        color: #fff;
        .panel-body {
          color: #333;
        }
      }
      .navbar-scroll {
        position:sticky;
        top:0;
      }
    }
    &.prototype-4 {
      aside {
        order: -1;
      }
    }
  }
}

#p6cust {
  padding: 10px;
}

.sbbox {
  color: #333;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 10px;
}

.sbbox-heading {
  font-family: $font-family-serif;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.sbbox-body {
  margin: 10px 0 0;
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
}

.navrow {
  display:flex;
  flex-direction: row;
  align-items: stretch;
  z-index: 999;
  > div {
    flex: 5;
    padding: 0 15px;
  }
  > .button {
    flex: 1;
    margin:0;
    padding: 0 15px;
    display: block;
    background-color: #333;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    &:first-child {
      background-color: $brand-primary;
    }
    button {
      background-color: inherit;
      color: #fff;
      border: none;
      display: block;
      width: 100%;
      display:flex;
      align-items: center;
    }
  }
  .filter-status {
    box-shadow: none;
    margin: 0;
  }
  &.prototype-4 {
    div.button {
      order: -1;
    }
  }
  &.prototype-8, &.prototype-9 {
    &.fixedsticky-on {
      width:100%;
    }
    > div {
      flex:6;
    }
    .buttons {
      flex:2;
    }
  }
}

.prototype-8 {
  &.navrow {
    background-color: #fff;
    display:flex;
    align-items: flex-end;
  }
  .buttons {
    border-bottom-color:#555;
    &.closed {
      border-bottom-color: transparent;
      padding-left: 15px;
    }
    li {
      margin-bottom: -2px;
      border-bottom: 1px solid #EEEEEE;
      margin-left: 4px;
      a {
        background-color: #fff;
        background: linear-gradient(#f3f3f3, #f3f3f3 3px, #fff 3px, #fff);
        color: #555;
        border: 1px solid #555;
        display:block;
        margin:0;
        border-radius: 5px 5px 0 0;
        padding-bottom: 7px;
        padding-top: 7px;
      }
      &.active a {
        color: #333;
        background-color: #ddd;
        background: linear-gradient($brand-primary, $brand-primary 3px, #eee 3px, #eee);
        border-color: #333;
        border-bottom: none;
        //font-size: 1.45em;
      }
      &:first-child {
        padding-left: 6px;
      }
      &:first-child {
        float: right;
        //align-self: center;
        // flex-grow:1;
        text-align: right;
        padding-left:12px;
      }
      &.closed:first-child {
        float: none;
        text-align: left;
        .btn {font-weight: bold !important;}
        padding-left: 0;
      }
    }
  }
}

.prototype-9 {
  &.navrow {
    background-color: #fff;
  }
  .buttons {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom-color:#555;
    padding:0;
    margin:0;

    &.closed {
      border-bottom-color: transparent;
      padding-left: 15px;
    }
    li {
      list-style: none;
      flex-grow:99;
      display:flex;
      align-items: flex-end;
      align-content: bottom;
      a {
        height: 2em;
        padding: 5px;
        background-color: #fff;
        color: #555;
        border-right: 1px solid #eee;
        width: 100%;
        display: flex;
        text-align:center;
      }
      &.active a {
        color: #333;
        background-color: #eee;
        // border-color: #333;
        border-bottom-color: transparent;
        //font-size: 1.45em;
      }
      &:first-child {
        padding-left: 6px;
      }
      &:last-child {
        flex-grow:1;
        text-align: right;
        padding-right: 6px;
        a {
          border-right: none;
        }
      }
      &.closed:last-child {
        text-align: left;
        font-weight: bold !important;
      }
    }
  }
}

// .filterrow {
//   background-color: $gray-light;
//   border-radius: 5px 5px 5px 0;
//   @include mq(30em) {
//     display:flex;
//     >div {
//       flex: 10;
//       margin-left: 15px;
//     }
//     >div:first-child {
//       flex: 2;
//       margin-right: 15px;
//       margin-left:0;
//       display: flex;
//       form {
//         padding:5px;
//       }
//     }
//   }
//   .btn-group{
//     display:none;
//     position:absolute;
//     top:100%;
//     z-index: 200;
//     .btn {
//       flex:1;
//     }
//   }
//   &.affix {
//     position: fixed;
//     top:0;
//     left: 8px;
//     right:8px;
//     z-index: 4010;
//   }
// }

// .filtering {
//   @include mq(30em) {
//     display:flex;
//     margin: 5px;
//     border-radius: 5px;
//     border-color: $gray;
//     background-color: #fff;
//     .filter-status, .operations {
//       display:flex;
//     }
//     .filter-status {
//       align-items: center;
//     }
//     .operations {
//       align-items: stretch;
//       a, button {
//         display: flex;
//         align-items: center;
//         border: none;
//         border-radius: 0;
//         border-left: 1px solid $gray-light !important;
//         width:100%;
//         flex-grow: 1;
//       }
//     }
//     .filter-status {
//       flex: 8;
//       margin-left: 15px;
//     }
//   }
// }

.mainbacktotop {
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  display:block;
  color: #fff;
  font-weight: bold;
  background: $brand-primary;
  background: linear-gradient(to bottom, #5180B4, $brand-primary);
  z-index: 2000;
  padding: 5px;
  transition: all .4s linear;
  &:hover, &:focus {
    font-size: 1.5em;
    color: #fff;
    text-decoration: underline;
  }
}

.filter-status {
  z-index: 9999;
  display: flex;
  align-items: center;
  margin: 0 80px;
  border: 1px solid $brand-primary;
  padding: 5px;
  box-shadow: 0 0 20px $brand-primary;
  background: #fff linear-gradient(to right, yellow, yellow 50%, white 50%, white);
  background-size: 200% 100%;
  background-position: -100% 0;
  &.loading {
    animation-name: backgroundanim;
    animation-duration: .5s;
    animation-iteration-count: 1;
  }
  /*.icon {
    font-size: 1.5em;
    margin-right: 15px;
    color: #fff;
    .outer {
      display:inline-block;
      border-radius: 1.5em;
      line-height: 1.5;
      background-color: #777;
      transition: all .5s linear;
      background-position: 0 0;
      text-align: center;
      width: 1.5em;
      height: 1.5em;
    }
    .glyphicon-hourglass {
      color: #000;
    }
    &.loading {
      .outer {
        background: green linear-gradient(to bottom, yellow, yellow 50%, green 50%, green);
        background-size: 100% 200%;
        animation-name: backgroundanim;
        animation-duration: .5s;
        animation-iteration-count: 1;
      }
      .glyphicon-hourglass {
        display: inline-block;
        animation-name: loading;
        animation-duration: .5s;
        animation-iteration-count: 1;
      }
      .glyphicon-ok {
        display: none;
      }
    }
  }*/
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  5% {
    transform: rotate(0);
  }
  /*45% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(180deg);
  }*/
  95% {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes backgroundanim {
  from {
    background-position: 100% 0;
  }
  70% {
    background-position: 0 0;
  }
  to {
    background-position: 0 0;
  }
}

[aria-expanded], [aria-expanded=true] [aria-expanded] {
  .word-show { display: inline; }
  .word-hide { display: none; }
}

[aria-expanded=true], [aria-expanded=true] [aria-expanded=true] {
  .word-show { display: none; }
  .word-hide { display: inline; }
}

.btn-techniques {
  text-align: left;
}

.container-fluid {
  padding: 0;
  /*@include mq(30em) {
    padding: 0 4px;
  }
  @include mq(56em) {
    padding: 0 8px;
  }*/
}

.mainhead {
  padding: 0 15px 15px;
}

div.understanding {
  margin-bottom: 5px;
}

#backdrop {
  background-color: rgba(#000, .7);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:5000;
}

/*.filters {
  background-color: rgba(#fff, 1);
  position:fixed;
  top:2em;
  left:2em;
  right:2em;
  bottom:2em;
  z-index:5001;
  overflow: scroll;
}

.filters-content > div {
  display:flex;
  flex-wrap: wrap;
  .panel {
    flex: 1;
    min-width: 15em;
    margin: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
}
*/

.nav-overview > .nav > li > a {
  padding: 0;
}

.search {
  form {
    position: relative;
  }
  form > div {
    display:flex;
    flex-direction: column;
    margin: 0;
  }
}

#tags {
  a.btn {
    margin-bottom: 5px;
  }
}

button.panel-heading {
  display: block;
  width: 100%;
  border: none;
  text-align: left;
}

.glyphicon.glyphicon-new-window {
  color: #777;
}

/*.sc-content {
  height: 10em;
  overflow: hidden;
  padding-bottom: 3em;
  position: relative;
  margin-bottom: 1em;
  &:after {
    display: block;
    content: "";
    background: linear-gradient(to bottom, rgba(#fff, 0), #fff 60%);
    height: 3em;
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
  }
  button {
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 43%;
  }
}*/
