@import "bootstrap";
@import "helper";

.fixedsticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off {
  position: static;
}
.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
  position: fixed;
}
.fixedsticky-dummy {
  display: none;
}
.fixedsticky-on + .fixedsticky-dummy {
  display: block;
}

body {
  position: relative;
  padding-bottom: 2em;
}

mark {
  background-color: #FF0;
  border: 1px solid #333;
}

mark.current {
  background-color: #FF0;
  border: 1px dashed #333;
}

h1 {
  line-height: 1;
  small {
    font-size: 50%;
    line-height: 1;
    display:block;
  }
}

.sc-wrapper {
  border-top: 1px solid $brand-primary;
  padding-top: 5px;
  padding-bottom: 5px;
  clear: both;
  .panel:last-child {
    margin-bottom: 0;
  }
  .row + .row {

  }
  .large & .tab-nav-wrap {
    width: 23%;
    float: left;
  }
  .large & .tab-wrap {
    width: 73%;
    float: right;
  }
  .collapse>div {
    padding-top: .5em;
  }
}

.guideline section:first-of-type .sc-wrapper:first-child {
  border-top: none;
  padding-top:0;
}

.panel-body-guideline {
  border-bottom: 1px solid $brand-primary-light;
}

.btn-gltechniques {
  margin-bottom: 5px;
  border-color: #fff;
}

.sc-wrapper header {
  display: flex;
  //justify-content: space-between;
  white-space: nowrap;
  strong, [class^=level] {
    display: inline-block;
    background-color: #ddd;
    padding: 3px;
    border-radius:2px;
    font-weight: normal;
  }
  [class^=level] {
    margin-left: 5px;
    background-color: #fff;
    &::before {
      content:'(';
    }
    &::after {
      content:')';
    }
  }
  .level-a {
    color: lighten($brand-primary, 6%);
  }
  .level-aa {
    color: lighten($brand-primary, 3%);
  }
  .level-aaa {
    color: lighten($brand-primary, 0%);
  }
  p {
    float: right;
  }
}

.sc-content {
  a {
    border-bottom: 1px solid #666;
  }
}

#devnotes a{
  border-bottom: 1px solid #666;
}

.devnoteheading {
  font-size: 1.5em;
}

h5 {
  line-height: 1.5;
}

.nav-pills > li > a {
  border: 1px solid #ddd;
}

.navbar-scroll {
  overflow: scroll;
  height: 90vh;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
      color: #fff;
      li {
        line-height: 2;
        //border-left: 1em solid transparent;
        // border-top: 1px solid transparent;
        // border-bottom: 1px solid transparent;
        a {
          //padding-left: 1em;
          //display: block;
        }
      }
    }
    ul ul {
      display:none;
    }
    ul .active ul {
      display:block;
    }
  }
}

.nav-overview {
  a {
    color: #fff;
    line-height: 1.5;
    font-variant-numeric: tabular-nums;
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum";
    display: table-row;
    > span, > strong {
      padding: 2px 4px;
      display:table-cell;
    }
    > strong {
      text-align: right;
    }
    &:hover, &:focus {
      text-decoration: underline !important;
      background-color: transparent !important;
    }
  }
  .active {
    background-color: rgba(#fff,.7);
    border: 1px solid $brand-primary;
    border-right: none;
    a {
      color: $brand-primary;
    }
    > a:only-child {
      font-weight: bold;
    }
    &:last-child {
      border-bottom: none;
    }
    ul {
      padding-left: 1em;
    }
  }
  .nav-pills > li.active > a {
    background-color: $brand-primary;
  }
}

.navbar-scroll .nav {
  margin-bottom: 1em;
}

.navbar-scroll.affix, .navbar-scroll.affix-bottom {

}

.panel-heading {
  h3 {
    margin-top: 0;
    font-weight: bold;
  }
  h5 {
    margin:0;
    font-weight: bold;
    font-size: 1em;
  }
  p {
    margin-bottom: 0;
  }
}

.label {
  display:inline-block;
}

#filtered {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 500px;
}

.sidebar-heading {
  margin-top:0;
  .btn {
    width: 100%;
    text-align:left;
    min-width: 3.5em;
    .large .hidden-sb & {
      text-align: center;
      width:3.5em;
    }
  }
}

  .large .hidden-sb .text {
    display:block;
    text-transform: uppercase;
    font-size: 0.5em;
    > span {
      display: inline;
    }
  }
//   background-color: #036;
//   color: #fff;
//   padding: 5px;
//   font-weight: bold;
//   position: relative;
//   .btn {
//     position: absolute;
//     background: $brand-primary;
//     padding: 5px;
//     line-height: 1.1;
//     top:0;
//     left: 100%;
//   }
//   &#filter_heading .btn {
//     right: 100%;
//     left: auto;
//   }
// }

.checkbox {
  display:flex;
  justify-content: space-between;
}

[hidden] {
  display: none;
}

@include mq(30em) {
  .mainrow {
    display:flex;
    flex-wrap: wrap;
    main {
      width: 100%;
      transition: all .1s linear;
    }
    aside {
      width: 50%;
      padding: 0 15px;
      transition: all .1s linear;
      background-color: $brand-primary;
      &.hidden-sb {
        padding:0;
        border: none;
        h6 {
          padding:0;
        }
      }
    }
  }
}

@include mq(56em) {
  .mainrow {
    display:flex;
    &.threecols {
      flex-direction: row;
    }
    > main {
      padding: 0 15px;
      order: 2;
      transition: all .1s linear;
      flex: 3;
    }
    aside {
      transition: all .1s linear;
      flex: 1;
      order: 1;
      &.hidden-sb {
        flex:0;
        h6 {
          padding:0;
        }
      }
      &.tags {
        order: 3;
        background-color: #ddd;
      }
      .navbar-scroll {
        position:sticky;
        top:0;
      }
    }
  }
}

.filterrow {
  background-color: $gray-light;
  border-radius: 5px 5px 5px 0;
  @include mq(30em) {
    display:flex;
    >div {
      flex: 10;
      margin-left: 15px;
    }
    >div:first-child {
      flex: 2;
      margin-right: 15px;
      margin-left:0;
      display: flex;
      form {
        padding:5px;
      }
    }
  }
  .btn-group{
    display:none;
    position:absolute;
    top:100%;
    z-index: 200;
    .btn {
      flex:1;
    }
  }
  &.affix {
    position: fixed;
    top:0;
    left: 8px;
    right:8px;
    z-index: 4010;
  }
}

.filtering {
  @include mq(30em) {
    display:flex;
    margin: 5px;
    border-radius: 5px;
    border-color: $gray;
    background-color: #fff;
    .filter-status, .operations {
      display:flex;
    }
    .filter-status {
      align-items: center;
    }
    .operations {
      align-items: stretch;
      a, button {
        display: flex;
        align-items: center;
        border: none;
        border-radius: 0;
        border-left: 1px solid $gray-light !important;
        width:100%;
        flex-grow: 1;
      }
    }
    .filter-status {
      flex: 8;
      margin-left: 15px;
    }
  }
}

.mainbacktotop {
  position: fixed;
  bottom:0;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  display:block;
  color: #fff;
  font-weight: bold;
  background: $brand-primary;
  background: linear-gradient(to bottom, #5180B4, $brand-primary);
  z-index: 2000;
  padding: 5px;
  transition: all .4s linear;
  &:hover, &:focus {
    font-size: 1.5em;
    color: #fff;
    text-decoration: underline;
  }
}

.filter-status {
    display: flex;
    justify-content: space-between;
    :first-child {
      flex: 6;
    }
}

[aria-expanded] {
  .word-show { display: inline; }
  .word-hide { display: none; }
}

[aria-expanded=true] {
  .word-show { display: none !important; }
  .word-hide { display: inline !important; }
}

.btn-techniques {
  width:100%;
  text-align: left;
}

.container-fluid {
  padding: 0;
  /*@include mq(30em) {
    padding: 0 4px;
  }
  @include mq(56em) {
    padding: 0 8px;
  }*/
}

.mainhead {
  padding: 0 15px 15px;
}

div.understanding {
  margin-bottom: 5px;
}

#backdrop {
  background-color: rgba(#000, .7);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:5000;
}

/*.filters {
  background-color: rgba(#fff, 1);
  position:fixed;
  top:2em;
  left:2em;
  right:2em;
  bottom:2em;
  z-index:5001;
  overflow: scroll;
}

.filters-content > div {
  display:flex;
  flex-wrap: wrap;
  .panel {
    flex: 1;
    min-width: 15em;
    margin: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
}
*/

.nav-overview > .nav > li > a {
  padding: 0;
}

.search {
  form {
    position: relative;
  }
  form > div {
    display:flex;
    flex-direction: column;
    margin: 0;
  }
}

#tags {
  a.btn {
    margin-bottom: 5px;
  }
}

button.panel-heading {
  display: block;
  width: 100%;
  border: none;
  text-align: left;
}

/*.sc-content {
  height: 10em;
  overflow: hidden;
  padding-bottom: 3em;
  position: relative;
  margin-bottom: 1em;
  &:after {
    display: block;
    content: "";
    background: linear-gradient(to bottom, rgba(#fff, 0), #fff 60%);
    height: 3em;
    position:absolute;
    bottom:0;
    left:0;
    right: 0;
  }
  button {
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 43%;
  }
}*/
