<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="top">

		<div class="container-fluid">
  		{{ content }}
      {% include footer.html %}


		</div>
    <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/highlight.jquery.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/uri.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/history.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/fixedsticky.jquery.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/sharebox.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/svg4everybody.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/script.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
